
Fossa CRPG Project/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
Fossa CRPG Project/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Fossa CRPG Project/fmod_editor.log
