
Fossa CRPG Project/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
Fossa CRPG Project/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Fossa CRPG Project/fmod_editor.log
*.xml
*.xml
Fossa CRPG Project/Assets/Audio/FMOD Chimera Project/Metadata/Event/{70765092-069c-4769-81b9-62aa80e1c485}.xml
